# Feature Engineering/ how to choose Data for ML

- Training Data is the data which is used to train ML algorithm
- Test data which is used to test performance of ML trained Model
- Validation data used to improve performance while training the ML algorithm used along with training data
- Query data : single sample used by end user of ML model Trained

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
Data.shape

(1067, 13)

In [4]:
Data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1067 entries, 0 to 1066
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   MODELYEAR                 1067 non-null   int64
 1   MAKE                      1067 non-null   object
 2   MODEL                     1067 non-null   object
 3   VEHICLECLASS              1067 non-null   object
 4   ENGINESIZE                1067 non-null   float64
 5   CYLINDERS                 1067 non-null   int64
 6   TRANSMISSION              1067 non-null   object
 7   FUELTYPE                  1067 non-null   object
 8   FUELCONSUMPTION_CITY      1067 non-null   float64
 9   FUELCONSUMPTION_HWY       1067 non-null   float64
 10  FUELCONSUMPTION_COMB      1067 non-null   float64
 11  FUELCONSUMPTION_COMB_MPG  1067 non-null   int64
 12  CO2EMISSIONS              1067 non-null   int64
dtypes: float64(4), int64(4), object(5)
memory usage: 108.5+ KB

In [5]:
# when we train ML algorithm we need to test them how they perform on unknown data
# usually ML algorithm trained on a seperate data and tested on the seperate data

In [ ]:
Data

In [7]:
# train test on same data:
#whole data is used for Training
#a portiion from this trained data is used foor testing

# high internal score(high accuracy) 
# low out of sample accuracy   
# it is not a genralised model

In [8]:
#but all ML models has to genralised for that application
# we can use seperate set for training and seperate set for test
# here test data and train data are mutually exclusive
# results in high internal score
# model is good out of sample accuracy(genralised)

In [9]:
# split ratio for trainig and testing
# min split should be 50:50, training:testing
# std split, [70:30],[75:25],[80:20]
# 70% of data is used for training ML model, which give trained model
#this trained model will be tested with 30% data which is unknown  to the model

In [18]:
Data = pd.read_csv('https://raw.githubusercontent.com/Abeyaantrix2Internship/intern/main/FuelConsumption.csv')
Data.head()

   MODELYEAR   MAKE  ... FUELCONSUMPTION_COMB_MPG CO2EMISSIONS
0       2014  ACURA  ...                       33          196
1       2014  ACURA  ...                       29          221
2       2014  ACURA  ...                       48          136
3       2014  ACURA  ...                       25          255
4       2014  ACURA  ...                       27          244

[5 rows x 13 columns]

In [21]:
Features = Data.iloc[:,:-1]
Target = Data.iloc[:,-1]

In [22]:
# again we use sk learn train library
from sklearn.model_selection import train_test_split
# for this function we need to provide the data as features and target
Features_train, Features_test,Target_train,Target_test= train_test_split(Features, Target, test_size=0.25)# 25% of data for testing , 75% training

In [23]:
Features_train

     MODELYEAR           MAKE  ... FUELCONSUMPTION_COMB FUELCONSUMPTION_COMB_MPG
736       2014  MERCEDES-BENZ  ...                 11.5                       25
393       2014           FORD  ...                  7.6                       37
370       2014           FORD  ...                 12.8                       22
103       2014            BMW  ...                 12.2                       23
73        2014        BENTLEY  ...                 16.5                       17
..         ...            ...  ...                  ...                      ...
0         2014          ACURA  ...                  8.5                       33
760       2014  MERCEDES-BENZ  ...                  8.5                       33
851       2014         NISSAN  ...                 10.6                       27
909       2014            RAM  ...                 14.8                       19
502       2014        HYUNDAI  ...                  7.7                       37

[800 rows x 12 columns]

In [24]:
Target_train

736    264
393    175
370    294
103    281
73     380
      ...
0      196
760    230
851    244
909    340
502    177
Name: CO2EMISSIONS, Length: 800, dtype: int64

In [25]:
Features_test

     MODELYEAR       MAKE  ... FUELCONSUMPTION_COMB FUELCONSUMPTION_COMB_MPG
936       2014      SCION  ...                  8.0                       35
988       2014     TOYOTA  ...                  4.7                       60
677       2014    LINCOLN  ...                 11.8                       24
791       2014       MINI  ...                  7.8                       36
407       2014       FORD  ...                  7.2                       39
..         ...        ...  ...                  ...                      ...
159       2014   CADILLAC  ...                 10.9                       26
269       2014  CHEVROLET  ...                 12.3                       23
82        2014        BMW  ...                  8.7                       32
481       2014      HONDA  ...                  7.9                       36
702       2014      MAZDA  ...                  7.4                       38

[267 rows x 12 columns]

In [ ]:
Target_test

*** in a given dataset we may have one or more features***

-usually we have only one target variable***

-we need to split data into features and target

-then using features and target we devwlop method to predict target value

In [37]:
import pandas as pd
Data1=pd.read_csv('https://raw.githubusercontent.com/Abeyaantrix2Internship/intern/main/Data.csv');Data1

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8  Germany  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [12]:
Features = Data1.iloc[:,:3]#Features = Data3.iloc[:,:-1]
Target=Data1.iloc[:,3]      #Target=Data3.iloc[:,-1]
print(Features,'\n',Target)

   Country   Age   Salary
0   France  44.0  72000.0
1    Spain  27.0  48000.0
2  Germany  30.0  54000.0
3    Spain  38.0  61000.0
4  Germany  40.0      NaN
5   France  35.0  58000.0
6    Spain   NaN  52000.0
7   France  48.0  79000.0
8  Germany  50.0  83000.0
9   France  37.0  67000.0
 0     No
1    Yes
2     No
3     No
4    Yes
5    Yes
6     No
7    Yes
8     No
9    Yes
Name: Purchased, dtype: object

In [38]:
# again we use sk learn train library
from sklearn.model_selection import train_test_split
# for this function we need to provide the data as features and target
Features_train, Features_test,Target_train,Target_test= train_test_split(Features, Target, test_size=0.25)# 25% of data for testing , 75% training

In [39]:
Features_train

    YearsExperience
6               3.0
15              4.9
11              4.0
28             10.3
18              5.9
3               2.0
19              6.0
7               3.2
0               1.1
8               3.2
10              3.9
2               1.5
26              9.5
9               3.7
5               2.9
13              4.1
21              7.1
29             10.5
12              4.0
4               2.2
1               1.3
23              8.2

In [40]:
Data2=pd.read_csv('https://raw.githubusercontent.com/Abeyaantrix2Internship/intern/main/Salary_Data.csv');Data2.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [41]:
Features= Data2.iloc[:,:-1]
Target= Data2.iloc[:,-1]

In [42]:
from sklearn.model_selection import train_test_split
Features_train,Features_test,Target_train,Target_test = train_test_split(Features,Target,test_size=0.3)

In [43]:
print(Features_train)
print(Features_test)
print(Target_train)
print(Target_train)

    YearsExperience
7               3.2
24              8.7
28             10.3
15              4.9
21              7.1
27              9.6
10              3.9
13              4.1
9               3.7
20              6.8
12              4.0
22              7.9
8               3.2
17              5.3
14              4.5
6               3.0
26              9.5
25              9.0
4               2.2
0               1.1
18              5.9
    YearsExperience
16              5.1
19              6.0
3               2.0
2               1.5
5               2.9
23              8.2
29             10.5
11              4.0
1               1.3
7      54445.0
24    109431.0
28    122391.0
15     67938.0
21     98273.0
27    112635.0
10     63218.0
13     57081.0
9      57189.0
20     91738.0
12     56957.0
22    101302.0
8      64445.0
17     83088.0
14     61111.0
6      60150.0
26    116969.0
25    105582.0
4      39891.0
0      39343.0
18     81363.0
Name: Salary, dtype: float64
7      54445.0
24    109431.0
28    122391.0
15     67938.0
21     98273.0
27    112635.0
10     63218.0
13     57081.0
9      57189.0
20     91738.0
12     56957.0
22    101302.0
8      64445.0
17     83088.0
14     61111.0
6      60150.0
26    116969.0
25    105582.0
4      39891.0
0      39343.0
18     81363.0
Name: Salary, dtype: float64

In [44]:
Data3 = pd.read_csv('https://raw.githubusercontent.com/Abeyaantrix2Internship/intern/main/FuelConsumption.csv')
print(Data3.head())
print(Data3.columns)
print(Data3.shape)

   MODELYEAR   MAKE  ... FUELCONSUMPTION_COMB_MPG CO2EMISSIONS
0       2014  ACURA  ...                       33          196
1       2014  ACURA  ...                       29          221
2       2014  ACURA  ...                       48          136
3       2014  ACURA  ...                       25          255
4       2014  ACURA  ...                       27          244

[5 rows x 13 columns]
Index(['MODELYEAR', 'MAKE', 'MODEL', 'VEHICLECLASS', 'ENGINESIZE', 'CYLINDERS',
       'TRANSMISSION', 'FUELTYPE', 'FUELCONSUMPTION_CITY',
       'FUELCONSUMPTION_HWY', 'FUELCONSUMPTION_COMB',
       'FUELCONSUMPTION_COMB_MPG', 'CO2EMISSIONS'],
      dtype='object')
(1067, 13)

In [45]:
Features = Data3.iloc[:,:-1]
Target=Data3.iloc[:,-1]
print(Features,'\n',Target)

      MODELYEAR   MAKE  ... FUELCONSUMPTION_COMB FUELCONSUMPTION_COMB_MPG
0          2014  ACURA  ...                  8.5                       33
1          2014  ACURA  ...                  9.6                       29
2          2014  ACURA  ...                  5.9                       48
3          2014  ACURA  ...                 11.1                       25
4          2014  ACURA  ...                 10.6                       27
...         ...    ...  ...                  ...                      ...
1062       2014  VOLVO  ...                 11.8                       24
1063       2014  VOLVO  ...                 11.5                       25
1064       2014  VOLVO  ...                 11.8                       24
1065       2014  VOLVO  ...                 11.3                       25
1066       2014  VOLVO  ...                 12.8                       22

[1067 rows x 12 columns]
 0       196
1       221
2       136
3       255
4       244
       ...
1062    271
1063    264
1064    271
1065    260
1066    294
Name: CO2EMISSIONS, Length: 1067, dtype: int64